.main-menu {
  width: 100%;
  height: 50px;
  background-color: #000;
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.main-menu__container {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 2rem;
  width: 53%;
  margin: 0 auto;
}

.main-menu__left {
  display: flex;
  align-items: center;
}

.main-menu__right {
  margin: 2rem;
}

.fa-spotify {
  color: #fff;
  font-size: 2rem;
}

.spotify-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 20px;
}

